# Virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc

# Node modules
node_modules/

# Next.js build output
.next/
frontend/dist/

# Environment variables
.env

# VSCode
.vscode/
