--extra-index-url https://download.pytorch.org/whl/cpu
torch

fastapi
uvicorn
motor
python-dotenv
langchain
langchain-community
langchain-pinecone
langchain-huggingface
sentence-transformers
pinecone
groq
